.scroll-to-top {
  position: fixed;
  bottom: 1rem;
  right: -144px;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  overflow: hidden;
  border: 1px solid rgb(230, 239, 253);
  box-shadow: 0 3px 10px -3px #e6effd;
  z-index: 110;
  transition: all 0.6s;
}

.scroll-to-top a {
  background: #e6effd;
  border: medium none currentColor;
  border: initial;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
}

.scroll-to-top a .btn-svg-up-hover {
  font-size: 2rem !important;
  line-height: 2rem;
  color: #0943b5;
}

.scroll-to-top a .label-button-star-up {
  font-size: 1rem !important;
  padding: 0 0.6rem;
  width: 144px;
  color: #0943b5;
  font-weight: 600;
}

.scroll-to-top a:focus {
  border: solid 2px black;
}

.scroll-to-top:hover {
  right: -0.1rem !important;
}

.show-scrollTop {
  opacity: 1;
  transition: all 0.6s;
}
